.itemlist {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;

}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

input {
  width: 25%;
}






