<body>
<div class="container" style=" margin-bottom: 10px"><img
  src="https://raw.githubusercontent.com/switchfully/track-shared/master/60-projects/30-order/order.png?token=ANP4P4L3MCILO2563LYAFJC6XG5AE"
  style="height: 140px">
</div>
<nav class="navbar navbar-expand-lg " >
<div class="collapse navbar-collapse">
<nav class="navbar navbar-light container">
  <a class="navbar-brand" href="#">Home</a>
  <ul class="navbar-nav mr-auto mt-2 mt-lg-0 ">
    <li class="d-flex flex-row">
  <a class="nav-link" routerLink="/items">Items</a>
  <a  class="nav-link" routerLink="/itemcreator">Create item</a>
      <a  class="nav-link" routerLink="/customers">Customers</a>
      <a  class="nav-link" routerLink="/customercreator">Create customer</a>
    </li>
  </ul>
</nav>
</div>
</nav>


<router-outlet></router-outlet>

</body>

